[user]
  name = Kentaro Kuribayashi
  email = kentarok@gmail.com
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim -u NONE -N
  quotepath = false
  precomposeunicode = true
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  pr = pull-request
[ghq]
  root = ~/src
